*.pyc
*.npy
*.pth
*.so
log/*
projects/mmdet3d_plugin/ops/deformable_aggregation_ext.egg-info/*
projects/mmdet3d_plugin/ops/build/*
*.sif
*.tar
*.pkl
*.egg-info
ckpt/*
data/*
work_dirs
projects/mmdet3d_plugin/